<section style="height: 1162px;" class="bgRegistro">
  <div>
    <div
      style="transform: translate(10px, 216px); box-shadow: 2px -4px 54px 45px rgba(255,255,255,0.5);
    -webkit-box-shadow: 2px -4px 54px 45px rgba(255,255,255,0.5);
    -moz-box-shadow: 2px -4px 54px 45px rgba(255,255,255,0.5);border-radius: 20px; border: 2px solid black;  height: 896px; width: 627px; margin-left: 695px;">
      <div class="font1 d-flex align-content-center justify-content-center h1"
        style="margin-top: 59px; letter-spacing: 16px; color: rgb(85, 149, 20);">
        REGISTRATE
      </div>
      <div style="width: 500px; margin-top: 50px; margin-left: 64px; ">
        <input type="text" style="height: 60px; letter-spacing: 1px;" class="fs-5 ps-5 fmControll form-control"
          placeholder="Nombre">
        <input type="text" style="height: 60px; letter-spacing: 1px;" class="fs-5 ps-5 fmControll form-control mt-4"
          placeholder="Apellidos">
        <input type="text" style="height: 60px; letter-spacing: 1px;" class="fs-5 ps-5 fmControll form-control mt-4"
          placeholder="Correo">
        <input type="number" style="height: 60px; letter-spacing: 1px;" class="fs-5 ps-5 fmControll form-control mt-4"
          placeholder="Edad">
        <input type="text" style="height: 60px; letter-spacing: 1px;" class="fs-5 ps-5 fmControll form-control mt-4"
          placeholder="País de residencia">
        <input type="text" style="height: 60px; letter-spacing: 1px;" class="fs-5 ps-5 fmControll form-control mt-4"
          placeholder="Contraseña">
        <input type="text" style="height: 60px; letter-spacing: 1px;" class="fs-5 ps-5 fmControll form-control mt-4"
          placeholder="Verifique su contraseña">
      </div>
      <div>
        <button class="boton mt-5 fs-5 rounded-2">
          <span>Ingresar</span>
        </button>
      </div>
    </div>

  </div>
</section>
