<section style="height: 1237px;" class="bgRegistro">
  <div>
    <div
      style="transform: translate(10px, 216px); box-shadow: 2px -4px 54px 45px rgba(255,255,255,0.5);
    -webkit-box-shadow: 2px -4px 54px 45px rgba(255,255,255,0.5);
    -moz-box-shadow: 2px -4px 54px 45px rgba(255,255,255,0.5);border-radius: 20px; border: 2px solid black;  height: 978px; width: 627px; margin-left: 695px;">
      <div class="font1 d-flex align-content-center justify-content-center h1"
        style="margin-top: 59px; letter-spacing: 16px; color: rgb(85, 149, 20);">
        REGISTRATE
      </div>
      <form [formGroup]="formularioRegistro" (ngSubmit)="submit()">
        <div style="width: 500px; margin-top: 50px; margin-left: 64px; ">
          <input formControlName="nombre" type="text" style="height: 60px; letter-spacing: 1px;"
            class="fs-5 ps-5 fmControll form-control" placeholder="Nombre" required>
          <span *ngIf="this.formularioRegistro.get('nombre')?.errors?.['required']">
            (El nombre no puede quedar vacío)
          </span>
          <span *ngIf="this.formularioRegistro.get('nombre')?.errors?.['minlength']">
            (Debe tener como mínimo 10 caracteres)
          </span>
          <input formControlName="apellidos" type="text" style="height: 60px; letter-spacing: 1px;"
            class="fs-5 ps-5 fmControll form-control mt-4" placeholder="Apellidos">
          <span *ngIf="this.formularioRegistro.get('apellidos')?.errors?.['required']">
            (Los apellidos no pueden quedar vacíos)
          </span>
          <span *ngIf="this.formularioRegistro.get('apellidos')?.errors?.['minlength']">
            (Debe tener como mínimo 20 caracteres)
          </span>
          <input formControlName="correo" type="text" style="height: 60px; letter-spacing: 1px;"
            class="fs-5 ps-5 fmControll form-control mt-4" placeholder="Correo" required>
          <span *ngIf="this.formularioRegistro.get('correo')?.errors?.['required']">
            (El correo no puede quedar vacío)
          </span>
          <input formControlName="edad" type="number" style="height: 60px; letter-spacing: 1px;"
            class="fs-5 ps-5 fmControll form-control mt-4" placeholder="Edad" required>
          <span *ngIf="this.formularioRegistro.get('edad')?.errors?.['required']">
            (La edad no puede quedar vacía)
          </span>
          <input formControlName="pais" type="text" style="height: 60px; letter-spacing: 1px;"
            class="fs-5 ps-5 fmControll form-control mt-4" placeholder="País de residencia" required>
          <span *ngIf="this.formularioRegistro.get('edad')?.errors?.['required']">
            (El país no puede quedar vacío)
          </span>
          <input formControlName="numero" type="text" style="height: 60px; letter-spacing: 1px;"
            class="fs-5 ps-5 fmControll form-control mt-4" placeholder="Número de telefono">
          <span *ngIf="this.formularioRegistro.get('edad')?.errors?.['required']">
            (El número no puede quedar vacío)
          </span>
          <input formControlName="contraseña" type="password" style="height: 60px; letter-spacing: 1px;"
            class="fs-5 ps-5 fmControll form-control mt-4" placeholder="Contraseña">
          <span *ngIf="this.formularioRegistro.get('contraseña')?.errors?.['required']">
            (El número no puede quedar vacío)
          </span>
          <input formControlName="contraseña" type="password" style="height: 60px; letter-spacing: 1px;"
            class="fs-5 ps-5 fmControll form-control mt-4" placeholder="Verifique su contraseña">
        </div>
        <div>
          <button class="boton mt-5 fs-5 rounded-2">
            <span>Ingresar</span>
          </button>
        </div>
        <div>{{resultado}}</div>
      </form>

    </div>

  </div>
</section>
