<router-outlet></router-outlet>
<app-navbar></app-navbar>
<footer  style="height: 370px; background-color: rgb(198, 207, 207);">
<div>
  <div class="mb-3 w-25 ms-5 form-control" style="transform: translate(168px, 78px);">
    <label for="exampleFormControlInput1" class="form-label"> Correo electrónico</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3 w-25 ms-5 form-control" style="transform: translate(170px, 82px);">
    <label for="exampleFormControlTextarea1" class="form-label">Quejas, solicitudes o reclamos</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <img style="width: 5%;" src="/assets/img/log-whatsapp.png" alt="">
  <img style="width: 5%;" src="/assets/img/logo-instagram.png" alt="">
  <img style="width: 5%;" src="/assets/img/logo-twitter.png" alt="">
  <img style="width: 5%;" src="/assets/img/tik-tok.png" alt="">
</div>
</footer>
