<section class="d-flex justify-content-center align-items-center flex-column">
    <h1 class="letraTienda my-5">Parece que estas perdido</h1>
    <img src="assets/img/404.svg" alt="">
    <h3 class="fs-1 letraTienda mt-3">
        Pagina no encontrada 404
    </h3>
    <button class="cta" routerLink="/">
        <span class="hover-underline-animation"> Volver a la pagina principal </span>
        <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg" id="arrow-horizontal">
            <path transform="translate(30)" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" data-name="Path 10" id="Path_10"></path>
        </svg>
    </button>
</section>
