@font-face {
  font-family: "letra1";
  src: url(../../../assets/types/Invisible-ExtraBold.otf);
}



.nv {
  width: 594px;
  margin-left: 1448px;
  padding: 0px;
  border: 2px solid #000000;
  border-radius: 3px;
}

.fontNav {
  font-size: 23px;
  color: rgb(17, 139, 17);
}

.fontColor {
  color: rgb(17, 139, 17);
}

.btnRegistro{
  background-color: rgb(114, 198, 30);
    height: 116px;
    width: 240px;
    font-size: 23px;
    color: white;
    outline: none;
    border-color: rgb(114, 198, 30);
    border-radius: none;
}

.modal-backdrop.show {
display: none;
}

.font1{
  font-family: "letra1";
}

.fmControll {
  border: 2px solid #000000;
}

.fmControll:focus {
  box-shadow: none;
  border: 2px solid rgb(94, 255, 0);
}


.boton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #000000;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
  margin-left: 149px;
  width: 290px;
  font-family: font1;
}

.boton:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #5eff00;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.boton:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.boton span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.boton:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.textFooter {
  letter-spacing: 1px;
}

.bgModal {
  background-image: url("/assets/img/EJEMPLOFINALGRISOSCURO.svg");
  background-repeat: no-repeat;
}
