
<section class="bg-bgta">
  <div class="d-flex justify-content-center align-content-center">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div style="height: 764px; width: 1757px;" class="carousel-item active">
                <img src="assets/img/MONSERRATE-BTA.jpeg" class="d-block w-100 " alt="...">
            </div>
            <div style="height: 764px; width: 1757px;" class="carousel-item">
                <img src="assets/img/BOG-CARRUSEL.jpeg" class="d-block w-100" alt="...">
            </div>
            <div style="height: 764px; width: 1757px;" class="carousel-item">
                <img src="assets/img/BOGOTA CARRUSEL.jpeg" class="d-block w-100" alt="...">
            </div>
            <div style="height: 764px; width: 1757px;" class="carousel-item">
                <img src="assets/img/MALOKA BGTA.jpeg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
   </div>


    <div class="row mt-5">
        <div class="col-4 d-flex justify-content-center align-items-center flex-column">
            <div class="imgref img1" style="box-shadow: 7px -12px 90px -28px rgba(0,0,0,0.75);
            -webkit-box-shadow: 7px -12px 90px -28px rgba(0,0,0,0.75);
            -moz-box-shadow: 7px -12px 90px -28px rgba(0,0,0,0.75); background-image: url(assets/img/Donde-Dormir-BGTA.jpeg);"></div>
            <h4>DONDE DORMIR</h4>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center flex-column">
            <div class="imgref img2" style="box-shadow: 7px -12px 90px -28px rgba(0,0,0,0.75);
            -webkit-box-shadow: 7px -12px 90px -28px rgba(0,0,0,0.75);
            -moz-box-shadow: 7px -12px 90px -28px rgba(0,0,0,0.75); background-image: url(assets/img/Donde-comer.jpg);"></div>
            <h4>DONDE COMER</h4>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center flex-column">
            <div class="imgref img3" style="box-shadow: 7px -12px 90px -28px rgba(0,0,0,0.75);
            -webkit-box-shadow: 7px -12px 90px -28px rgba(0,0,0,0.75);
            -moz-box-shadow: 7px -12px 90px -28px rgba(0,0,0,0.75); background-image: url(assets/img/QUE-HACER-BTA.jpeg);"></div>
            <h4>QUE HACER</h4>
        </div>
    </div>
</section>

