<section style="height: 1200px; background-image: url('/assets/img/FONDO CON LOGO.png');">



  <div class="rowDescubremas row align-items-start row-cols-5 font1">



    <div class="col">
      <div class=" caja card" style="border: 4px solid; width: 18rem; box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);
            -webkit-box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);
            -moz-box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);">
        <img src="/assets/img/CARD BOGOTA.jpg" style="height: 428px;" class="card-img-top" alt="...">
        <h5 style="height: 56px; padding-top: 20px;" class="card-title text-center font1">BOGOTÁ</h5>
        <div class="card-info">
          <p>BOGOTA TE AMO KASHDAJHDJAJBC VCVAHCVHXKJAHDJASBJKAZGJCAHCHAS CXJHZHCJKAH</p>
        </div>

      </div>
    </div>



    <div class="col">
      <div class="caja card" style="border: 4px solid; width: 18rem; box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);
            -webkit-box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);
            -moz-box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);">
        <img src="/assets/img/CARD MEDELLIN.jpeg" style="height: 428px;" class="card-img-top" alt="...">
        <h5 style="height: 56px; padding-top: 20px;" class="card-title text-center">MEDELLIN</h5>
        <div class="card-info">
          <p>BOGOTA TE AMO KASHDAJHDJAJBC VCVAHCVHXKJAHDJASBJKAZGJCAHCHAS CXJHZHCJKAH</p>
        </div>

      </div>
    </div>

    <div class="col">
      <div class="caja card" style="border: 4px solid; width: 18rem; box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);
            -webkit-box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);
            -moz-box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);">
        <img src="/assets/img/CARD CARTAGENA.jpeg" style="height: 428px;" class="card-img-top" alt="...">
        <h5 style="height: 56px; padding-top: 20px;" class="card-title text-center">CARTAGENA</h5>
        <div class="card-info">
          <p>BOGOTA TE AMO KASHDAJHDJAJBC VCVAHCVHXKJAHDJASBJKAZGJCAHCHAS CXJHZHCJKAH</p>
        </div>

      </div>
    </div>


    <div class="col">

      <div class="caja card" style="border: 4px solid; width: 18rem; box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);
            -webkit-box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);
            -moz-box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);">
        <img src="/assets/img/CARD MANIZALES.jpg" style="height: 428px;" class="card-img-top" alt="...">
        <h5 style="height: 56px; padding-top: 20px;" class="card-title text-center">MANIZALES</h5>
        <div class="card-info">
          <p>BOGOTA TE AMO KASHDAJHDJAJBC VCVAHCVHXKJAHDJASBJKAZGJCAHCHAS CXJHZHCJKAH</p>
        </div>


      </div>


    </div>


    <div class="col">
      <div class="caja card" style="border: 4px solid; width: 18rem; box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);
            -webkit-box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);
            -moz-box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);">
        <img src="/assets/img/CARD LETICIA.jpg" style="height: 428px;" class="card-img-top" alt="...">
        <h5 style="height: 56px; padding-top: 20px;" class="card-title text-center">LETICIA</h5>
        <div class="card-info">
          <p>BOGOTA TE AMO KASHDAJHDJAJBC VCVAHCVHXKJAHDJASBJKAZGJCAHCHAS CXJHZHCJKAH</p>
        </div>


      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="/assets/img/CARD BARRANQUILLA.png" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>


  </div>




</section>
