<section style="height: 3896px; background-repeat: no-repeat; background-attachment: fixed; background-image: url('/assets/img/FONDO CON LOGO.png');">



  <div class="rowDescubremas row align-items-start row-cols-5 font1">



    <div class="col">
      <div class=" caja card" style="border: 4px solid; width: 18rem; box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);
            -webkit-box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);
            -moz-box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);">
        <img src="/assets/img/CARD BOGOTA.jpg" style="height: 428px;" class="card-img-top" alt="...">
        <h5 style="height: 56px; padding-top: 20px;" class="card-title text-center font1">BOGOTÁ</h5>
        <div class="card-info">
          <p>BOGOTA TE AMO KASHDAJHDJAJBC VCVAHCVHXKJAHDJASBJKAZGJCAHCHAS CXJHZHCJKAH</p>
        </div>

      </div>
    </div>



    <div class="col">
      <div class="caja card" style="border: 4px solid; width: 18rem; box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);
            -webkit-box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);
            -moz-box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);">
        <img src="/assets/img/CARD MEDELLIN.jpeg" style="height: 428px;" class="card-img-top" alt="...">
        <h5 style="height: 56px; padding-top: 20px;" class="card-title text-center">MEDELLIN</h5>
        <div class="card-info">
          <p>BOGOTA TE AMO KASHDAJHDJAJBC VCVAHCVHXKJAHDJASBJKAZGJCAHCHAS CXJHZHCJKAH</p>
        </div>

      </div>
    </div>

    <div class="col">
      <div class="caja card" style="border: 4px solid; width: 18rem; box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);
            -webkit-box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);
            -moz-box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);">
        <img src="/assets/img/CARD CARTAGENA.jpeg" style="height: 428px;" class="card-img-top" alt="...">
        <h5 style="height: 56px; padding-top: 20px;" class="card-title text-center">CARTAGENA</h5>
        <div class="card-info">
          <p>BOGOTA TE AMO KASHDAJHDJAJBC VCVAHCVHXKJAHDJASBJKAZGJCAHCHAS CXJHZHCJKAH</p>
        </div>

      </div>
    </div>


    <div class="col">

      <div class="caja card" style="border: 4px solid; width: 18rem; box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);
            -webkit-box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);
            -moz-box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);">
        <img src="/assets/img/CARD MANIZALES.jpg" style="height: 428px;" class="card-img-top" alt="...">
        <h5 style="height: 56px; padding-top: 20px;" class="card-title text-center">MANIZALES</h5>
        <div class="card-info">
          <p>BOGOTA TE AMO KASHDAJHDJAJBC VCVAHCVHXKJAHDJASBJKAZGJCAHCHAS CXJHZHCJKAH</p>
        </div>


      </div>


    </div>


    <div class="col">
      <div class="caja card" style="border: 4px solid; width: 18rem; box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);
            -webkit-box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);
            -moz-box-shadow: 2px 5px 36px 17px rgba(105,90,90,0.5);">
        <img src="/assets/img/CARD LETICIA.jpg" style="height: 428px;" class="card-img-top" alt="...">
        <h5 style="height: 56px; padding-top: 20px;" class="card-title text-center">LETICIA</h5>
        <div class="card-info">
          <p>BOGOTA TE AMO KASHDAJHDJAJBC VCVAHCVHXKJAHDJASBJKAZGJCAHCHAS CXJHZHCJKAH</p>
        </div>


      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 218px;">
        <img src="/assets/img/CARD BARRANQUILLA.png" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">BARRANQUILLA</h5>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 218px;">
        <img src="/assets/img/CARD FLORENCIA.jpg" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">FLORENCIA</h5>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 218px;">
        <img src="/assets/img/CARD IBAGUE.jpeg" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">IBAGUÉ</h5>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 218px;;">
        <img src="/assets/img/CARD BMANGA.jpg" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">BUCARAMANGA</h5>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 218px;">
        <img src="/assets/img/CARD POPAYÁN.jpg" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">POPAYÁN</h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 100px;">
        <img src="/assets/img/CARD QUIBDÓ.jpg" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">QUIBDÓ</h5>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 100px;">
        <img src="/assets/img/CARD SAN JOSE DEL GUAVIARE.jpg" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">SAN JOSE DEL GUAVIARE</h5>
        </div>
      </div>
    </div>



    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 100px;">
        <img src="/assets/img/CARD SANTA MARTA.png" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">SANTA MARTA</h5>
        </div>
      </div>
    </div>



    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 100px;">
        <img src="/assets/img/CARD TUNJA.png" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">TUNJA</h5>
        </div>
      </div>
    </div>



    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 100px;">
        <img src="/assets/img/CARD VALLEDUPAR.png" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">VALLEDUPAR</h5>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 100px;">
        <img src="/assets/img/CARD VILLAVICENCIO.jpg" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">VILLAVICENCIO</h5>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 100px;">
        <img src="/assets/img/CARD YOPAL.png" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">YOPAL</h5>
        </div>
      </div>
    </div>



    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 100px;">
        <img src="/assets/img/INIRIDA.jpg" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">INIRIDA</h5>
        </div>
      </div>
    </div>



    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 100px;">
        <img src="/assets/img/CARD ARAUCA.jpg" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">ARAUCA</h5>
        </div>
      </div>
    </div>



    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 100px;">
        <img src="/assets/img/CARD CUCUTA.jpg" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">CÚCUTA</h5>
        </div>
      </div>
    </div>



    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 100px;">
        <img src="/assets/img/CARD CALI.jpeg" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">CALI</h5>
        </div>
      </div>
    </div>



    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 100px;">
        <img src="/assets/img/CARD ARMENIA.jpg" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">ARMENIA</h5>
        </div>
      </div>
    </div>



    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 100px;">
        <img src="/assets/img/CARD MOCOA.jpg" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">MOCOA</h5>
        </div>
      </div>
    </div>




    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 100px;">
        <img src="/assets/img/CARD MITU.jpg" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">MITÚ</h5>
        </div>
      </div>
    </div>



    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 100px;">
        <img src="/assets/img/CARD MONTERIA.jpg" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">MONTERIA</h5>
        </div>
      </div>
    </div>



    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 100px;">
        <img src="/assets/img/CARD NEIVA.jpeg" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">NEIVA</h5>
        </div>
      </div>
    </div>



    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 100px;">
        <img src="/assets/img/CARD PEREIRA.jpg" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">PEREIRA</h5>
        </div>
      </div>
    </div>



    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 100px;">
        <img src="/assets/img/CARD RIOHACHA.jpg" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">RIOHACHA</h5>
        </div>
      </div>
    </div>



    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 100px;">
        <img src="/assets/img/CARD PASTO.jpg" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">PASTO</h5>
        </div>
      </div>
    </div>



    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 100px;">
        <img src="/assets/img/CARD SINCELEJO.jpg" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">SINCELEJO</h5>
        </div>
      </div>
    </div>




    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 100px; margin-left: 830px;">
        <img src="/assets/img/CARD SAN ANDRES.jpeg" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">SAN ANDRÉS</h5>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 100px; margin-left: 152px;">
        <img src="/assets/img/card-puertocarreño.jpg" style="height: 285px;" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">PUERTO CARREÑO </h5>
        </div>
      </div>
    </div>






  </div>














</section>
